*.swp
.3T/
.CFUserTextEncoding
.DS_Store
.Trash/
.account
.anyconnect
.atom/
.babel.json
.bash_history
.bash_sessions/
.cache/
.cf/
.codeintel/
.cups/
.eclipse/
.cisco/
.config/
.gradle/
.grails/
.grails_history
.jmc/
.lesshst
.local/
.m2/
.mortar.json
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.ports.json
.sdkman/
.sqldeveloper/
.tsd-cache/
.vim/
.viminfo
.vscode/
.vue-templates/
.yarnrc
.zcompdump-*
.zsh-update
.zsh_history
Applications/
CVS/
Desktop/
Documents/
Downloads/
Gifs/
Library/
Movies/
Music/
MyJabberFiles/
Pictures/
Public/
Projects/
Shared/
Solutions/
SQL/
git/
src/
workspace97/
datamodeler.log

